
body {
    font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
      background-color: lightblue;
      /* align-items: center;
        justify-content: center; */
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container1 {
    border-style: none;
    border-width: 4px;
    border-color:none;
    width: 35%;
     height: 70%;
      /* align-items: center; */
     /* justify-content: center;
     margin-left: 32%; */
     margin-top: 5%;   
     padding: 4%;
     background-color: lightgreen;
     border-radius: 30px;
    
}
.frm1 {
    
    font-size: 30px ;
    border: none;
    height: 70%;
    width: 100%;
    text-align: left;
    margin-top: 10px; 
    margin-bottom: 20px; 
    
}
.bbox {
    /* border: 1px solid; */
    padding: 10px;
    /* box-shadow: 5px 10px #888888; */
  }
.lbl{
    text-align: center; 
    padding-top: none;
    /* box-shadow: 5px 10px #888888; */
    
}
.frm1 {
    border-radius: 30px;
    padding: 10px;
    border-style: 2px;
    box-shadow: 5px 10px #888888;
  
}
.sbm {
    
    font-size: 25px ;
    /* color: black; */
    height: 50px;
    width: 25%;
    border:none;
    background-color: black;
    color:white;
    text-align: center;
    margin-left:100px;
    margin-top: 20px;
   
}
.sbm1 {
    margin-left: 0px;
}
#demo{
    text-align: center;
    text-emphasis: bold;
    /* box-shadow: 5px 10px #888888; */
}
.container1 .sbm {
    /* align-items: center; */
    border-radius: 30px;
}
